<h1 class="page-header">Attendance</h1>
<form class="form-inline">
  <div class="form-group">
    <label for="batchInput">Batch</label>
    <input type="text" class="form-control" name="batchInput" id="batchInput" placeholder="Batch">
  </div>
  <div class="form-group">
    <label for="courseInput">Course</label>
    <input type="text" class="form-control" name="courseInput" id="courseInput" placeholder="Course">
  </div>
  <button type="button" class="btn btn-default" ng-click='getAttendance()'>Get Attendance</button>
</form>
<br/>
<br/>
<div class="table-responsive">
	<table class="table table-bordered text-center">
	<tr><th class="text-center">Student Id</th><th class="text-center">Student Name</th><th class="text-center">Attendance</th><th class="text-center">Add</th></tr>

		<tr ng-repeat="item in attendance.table">
			<td>{{ item.uid }}</td>
			<td>{{ item.uname }}</td>
			<td>{{ item['Attendance Times']}}</td>
			<td><button class="btn btn-danger" ng-click="addAttendance($index,$event)">Add</bu tton></td>
		</tr>
		<tr><td colspan="4"><button class="btn btn-primary btn-lg btn-block" ng-click="sendAttendance();">Save</button></td></tr>
	</table>
</div>
