<h1 class="page-header">Exam List</h1>
<div class="table-responsive">
	<table class="table table-bordered text-center">
	<tr>
	<th class="text-center">Exam ID</th><th class="text-center">Test ID</th><th class="text-center">Begin Time</th><th class="text-center">End Time</th>
	<th class="text-center">Enter</th>
	</tr>
	
		<tr ng-repeat="item in studentexam.table">
			<td>{{ item.exid }}</td>
			<td>{{ item.testid }}</td>
			<td>{{ item.starttime }}</td>
			<td>{{ item.endtime }}</td>
			<td><button class="btn btn-sm btn-block btn-warning" ng-click="enterExam($index);">Enter Exam</button></td>
		</tr>
		
	</table>
</div>